*{
margin:0;
padding: 0;

}

.titulo{
  margin-left:50px;
  margin-bottom: 70px;
}
.user{
margin-top: 5px;
margin-right: 5px;
padding: 10px;
text-align:right;
background:#0b8d8d;
width: 190px;
border: 2px outset #e0e9e9;
border-radius: 40px 34px 40px 40px;
font-size: 17px;
right:0;
position:absolute;
}

body {
  background: transparent url("https://w0.peakpx.com/wallpaper/222/649/HD-wallpaper-anime-given-mafuyu-sato-ritsuka-uenoyama.jpg") no-repeat scroll 0px 50px;
  background-position: 99% -45%;
}

header{
background: linear-gradient(to bottom, rgb(10, 190, 160) 0%, rgb(8, 194, 178) 35%, rgb(45,167,197) 100%);
height: 60PX;
color: #f2f1f5;
text-shadow: 4px 3px 0 #7A7A7A;
}


input{
  align-items: center;
  margin-top: 20px;
  width: 300px;
  height: 30px;
  background-color: #f2f1f5;
}

.login-page{
width: 500px;
height:400px;
-webkit-box-shadow: 5px 10px 5px 0px rgba(171,171,171,0.62); 
box-shadow: 5px 10px 5px 0px rgba(171,171,171,0.62);
background-color: #f5f3fa;
position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: 0;
  justify-content: center;  
  border-radius:50px;
}

.textButton{
position: absolute;
top: 50%;
left: 62%;
margin-right: -50%;
transform: translate(-50%, -50%)

}

button {
  background: #8cd1c8;
  background-image: -webkit-linear-gradient(top, #8cd1c8, #2980b9);
  background-image: -moz-linear-gradient(top, #8cd1c8, #2980b9);
  background-image: -ms-linear-gradient(top, #8cd1c8, #2980b9);
  background-image: -o-linear-gradient(top, #8cd1c8, #2980b9);
  background-image: linear-gradient(to bottom, #8cd1c8, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  text-shadow: 1px 1px 2px #0f030f;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 40px 9px 40px;
  text-decoration: none;
 width: 310px;
 margin-top: 50px;

}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}