*{
  background-size: cover;

  }

  body{
    background-image: url(./asserts/fundo.png);
  }
  
   .btn-login{
    width: 450px;
    margin-right: 130px;
  }
  
  
  .titulo{
    margin-right:100px;
    margin-bottom: 70px;
  }

  .user{
  margin-top: 5px;
  margin-right: 5px;
  padding: 6px;
  text-align:right;
  background:#0b8d8d;
  width: 290px;
  border: 5px outset #e0e9e9;
  font-size: 27px;
  right:0;
  margin-top: 0;
  position:absolute;
  }
  
  header{
    background-image: url(../src/roxoheader.png);
    background-repeat: no-repeat;
    background-size: 40%;
    height: 500px;
    color: #f2f1f5;
  }
  
  
  input{
    justify-content: center;
    /* align-items: center; */
    margin-top: 20px;
    width: 450px;
    height: 50px;
    background-color: #f2f1f5;
    padding: 10px;
    display: flex;
  }
  
  
  
  .login-page{
  zoom: 80%;
  width: 600px;
  height:500px;
  -webkit-box-shadow: 5px 10px 5px 0px rgba(171,171,171,0.62); 
  box-shadow: 5px 10px 5px 0px rgba(171,171,171,0.62);
  background-color: #f5f3fa;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0;
    justify-content: center;  
    border-radius:50px;
  }
  
  .textButton{
  position: absolute;
  top: 50%;
  left: 62%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  
  }
  
  button {
    border-radius: 10px;
    background: #1ddddd;
    text-shadow: 1px 1px 2px #0f030f;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
   width: 200px;
   height: 50px;
   margin-top: 55px;
  
  }
  
  button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #d914d9, #3498db);
    background-image: -moz-linear-gradient(top, #ac1bd0, #3498db);
    background-image: -ms-linear-gradient(top, #b615c8, #80059f);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .list{
    text-align: center;
  }
  
  main{
    text-align: center;
    display: block;
  }
  
  .loading {
    position: absolute;
    top: 50%;
    height: 100px;
    margin-top: 180px; 
    margin-left: 650px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(25, 25, 31);
    border-right: 16px solid rgb(31, 150, 124);
    border-bottom: 16px solid rgb(17, 74, 180);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  
  .artista-album{
    align-items: center;
    text-align: center;
    background-color: rgb(103 20 93 / 44%);
    min-height: 210px;
    display: inline-flex;
    border: 5px solid rgba(157, 6, 191, 0.498);
    text-align: center;
    box-shadow: 0 10px 8px 0 rgb(0 0 0 / 20%);
    width: 330px;
    margin: 50px;
    padding: 15px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    color: white;
  
  }

  .links {
    margin-top: 50px;
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    height: 60px;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* position: fixed; */
    /* width: 100%; */
    top: 0;
    left: 0;
    padding: 0 15px;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    border-radius: 15px;
    border: 6px double white;
    font-size: 26px;
    background-color: #a41697;
    /* width: 100%; */
    height: 60px;
    border-radius: 10px;
}

a {
  margin-top: 50px;
  margin-left: 25px;
}

  ul {
    color: white;
    margin-top: 2px;
    display: inline-block;
    box-sizing: 100%;
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-size: 23px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .container{
    display:inline-flex;
    
  }
  
  li a:hover {
    background-color: rgb(247, 247, 248);
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  img {
    width: 300px;
    padding: 10px;
   border-radius: 20px;
  }
  
  p{
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
  } 

.input-seach {
  height: 30px;
  align-items: center;
  margin-top: 0px;
  margin-inline-end: 10px;
  display: inline-block;
  border-radius: 10px;
  }

  h1{
    margin-top:-10px;
    background-image: url(../src/asserts/gifimage.gif);
    width: 320px;
    height: 330px;
    border-radius: 600px;
    color: #de16c0;
}