*{
margin:0;
padding: 0;

}

.titulo{
  margin-left:50px;
  margin-bottom: 70px;
}
.user{
margin-top: 5px;
margin-right: 5px;
padding: 6px;
text-align:right;
background:#0b8d8d;
width: 290px;
border: 5px outset #e0e9e9;
font-size: 27px;
right:0;
margin-top: 0;
position:absolute;
}

body {
  background: transparent url("https://w0.peakpx.com/wallpaper/222/649/HD-wallpaper-anime-given-mafuyu-sato-ritsuka-uenoyama.jpg") no-repeat scroll 0px 50px;
 
  background: linear-gradient(to bottom, rgb(3, 71, 73) 0%, rgb(37, 248, 231) 35%, rgb(45,167,197) 100%);
  background-repeat: repeat-x;
}

header{
background: linear-gradient(to bottom, rgb(3, 71, 73) 0%, rgb(37, 248, 231) 35%, rgb(45,167,197) 100%);
height: 60PX;
color: #f2f1f5;
}


input{
  align-items: center;
  margin-top: 20px;
  width: 800px;
  height: 60px;
  background-color: #f2f1f5;
  margin-left: 250px;
  border-radius: 10px;
  
}

.login-page{
width: 500px;
height:400px;
-webkit-box-shadow: 5px 10px 5px 0px rgba(171,171,171,0.62); 
box-shadow: 5px 10px 5px 0px rgba(171,171,171,0.62);
background-color: #f5f3fa;
position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: 0;
  justify-content: center;  
  border-radius:50px;
}

.textButton{
position: absolute;
top: 50%;
left: 62%;
margin-right: -50%;
transform: translate(-50%, -50%)

}

button {
  background: #131414;
  text-shadow: 1px 1px 2px #0f030f;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 40px 9px 40px;
  margin:20px;
  text-decoration: none;
 width: 200px;
 height: 55px;
 border-radius: 10px;
 margin-top: 55px;

}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(25, 25, 31);
  border-right: 16px solid rgb(31, 150, 124);
  border-bottom: 16px solid rgb(17, 74, 180);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.links, a {
background-color: #0c0909;
padding: 10px;
font-size: 29px;
letter-spacing: 2.6px;
word-spacing: 2.4px;
color: #ffffff;
font-weight: 700;
text-align: center;
margin-right: 300px;
padding: 5px; 
}

ul li { margin:0; padding:0 0 0 8px; float:left;}

.artista-album{
  min-height: 410px;
  display: flexbox;
  border: 2px solid black;
  text-align: center;
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
  width:410px;
  margin: 30px;
  padding: 5px;
}

.product-list:hover{
  background-color:rgb(156, 156, 231);
  }

img {
  width: 300px;
  padding: 10px;
 border-radius: 2px solid black;
}

p{
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}